<h2> Your QR Code </h2>

<p> Scan This QR Code </p>
<%= image_tag @qr_code_img %>

<br><br>
<hr>
<p> Or, Type this in your Google Authenticator App :<strong> <%= @qr_code_key %> </strong><br>
<%= link_to 'Back To Home', root_path %>
